@import '../Boilerplate';

svg {
  transition: fill $icon_transition ease-in-out;
  fill: currentColor;
}

.svg-icon {
  fill: $color__black;
  height: 28px;
  padding: 5px;
  stroke: $color__black;
  width: 28px;

  &.icon-link {
    cursor: pointer;
  }
} 
