// Transition timeouts.

$standard_transition: 500ms;
$link_transition: 250ms;
$icon_transition: 200ms;
$button_transition: 150ms;
$background_transition: 300ms;
$transition__slide-fade: 0.5s;
$transition__navigation: 0.25s;
