// -----------
// Font Stacks
// -----------

$font__sans : "Libre Baskerville", Helvetica Neue, Helvetica, sans-serif;
$font__serif : "Montserrat", serif;

// -----
// Sizes
// -----

// Base text size
$font__size-base             : 17px;
$font__size-line-base        : 22px;

// Generic UI text sizes
$font__size-xxxl             : 50px;
$font__size-line-xxxl        : 56px;

$font__size-xxl              : 42px;
$font__size-line-xxl         : 44px;

$font__size-xl               : 36px;
$font__size-line-xl          : 42px;

$font__size-lg               : 26px;
$font__size-line-lg          : 30px;

$font__size-md               : 23px;
$font__size-line-md          : 27px;

$font__size-sm               : 14px;
$font__size-line-sm          : 18px;

$font__size-xs               : 12px;
$font__size-line-xs          : 16px;


// Specific Sizes
$font__size-article          : 21px;
$font__size-line-article     : 34px;

$font__size-byline           : 21px;
$font__size-line-byline      : 27px;

$font__size-list             : 17px;
$font__size-line-list        : 23px;

$font__size-slug             : 17px;
$font__size-line-slug        : 23px;

$font__size-button-xxl       : 30px;
$font__size-line-button-xxl  : 34px;
